<div ng-include="'components/navbar/navbar.html'"></div>
  <div layout="row" layout-align="center center">
   <md-content layout-padding>
      <md-input-container flex>
          <label>Search anything you want!</label>
          <input ng-model="search" ng-model-options="{ debounce: 500 }">
      </md-input-container>
   </md-content>
  </div>
  <div layout="row" ng-if="loading" layout-sm="column" layout-align="space-around">
    <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
  </div>
  <div layout="row" layout-align="center center" ng-if="searchResult.length > 0">
    <md-content>
      <md-list>
        <md-subheader class="md-no-sticky">Results:</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="item in searchResult">
          <img ng-src="{{item.icon}}" class="md-avatar" alt="{{item.name}}" />
          <div class="md-list-item-text md-title">
            <h3>{{ item.name }}</h3>
            <h4 ng-if="item.opening_hours"><span ng-if="item.opening_hours.open_now" class="md-subhead">Opened</span><span ng-if="!item.opening_hours.open_now">Closed</span></h4>
            <p>Address:{{ item.formatted_address }}</p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </div>

<!-- <header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>
    </div>
  </div>
</div> -->
<!-- 
<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer> -->
